script(type="text/javascript", src="/javascripts/jquery.js")
script(type="text/javascript", src="/javascripts/json2.js")
script(type="text/javascript", src="/js/client.js")
script(type="text/javascript", src="/javascripts/_navigationControl.js")