#dropImageCarouselContainer{
  font-size: 14px;
  font-family: Muli;
  width: 320px;
  float: left;
}
.largeImage {
  width: 304px;
  height: 304px;
  margin-bottom: 5px;
  border: gainsboro 4px dashed;
  cursor: pointer;
  float: left;
}
.styled {
  padding: 10px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font-family: Muli;
  font-size: 14px;
  background: #FFFFFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  margin-bottom: 2px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;}
.imageCaption input[type='text'] {
  width: 230px !important;
  margin-left: 10px;}
 #defaultImageCheckbox {
  margin-right: 15px;
  margin-top: -30px;
  float: right;}
.imageNav {
  margin-left: -2px;}
.imageNav input {
  width: 24px;
  height: 24px;
  margin: 10px 0px;}
.imageNav .removeImage {
  width: 18px;
  height: 18px;
  margin-left: 200px;
  margin-top: 0px;
  padding-bottom: 5px;
  border: 0px;}